<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aging</title>

    <link rel="stylesheet" href="./../assets/css/uikit.css"/>
    <link rel="stylesheet" href="./../assets/css/environment.css"/>
    <link rel="stylesheet" href="./../assets/css/style.css"/>
    <link rel="stylesheet" href="./../assets/css/small.css"/>
    <link rel="stylesheet" href="./../assets/css/bootstrap.css"/>
   
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="./../assets/js/uikit.min.js"></script>
    <script src="./../assets/js/uikit-icons.min.js"></script>
    <script src="./../assets/js/uikit-icons.min.js"></script>
    <script src="./../assets/js/my.js"></script>
    <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="./../assets/js/popper.min.js"></script>
    <script src="./../assets/js//bootstrap.min.js"></script>
</head>
<body >
    
            <!-- header start  -->
            <header class="header-image8">

                <div class="row style-1">
        
                    <div class="col-12 container mt-5">
        
                        <div class="row ">
                            <div class="col-2">
                                <button class="" style="background: transparent;border: transparent;"> <img class="w-25"
                                        onclick="openNav()" src="./../assets/img/search.png"></button>
        
                            </div>
                            <div class="col-8">
                               <a href="index.html"> <h1 class="big  font-size-sm-100per" style="color:white">Think Global Health</h1></a>
                            </div>
                            <div class="col-2">
                                <i class="fas fa-share-alt" style="color:white"></i>
                            </div>
        
        
                        </div>
                        <hr class="container" style="border:1px solid white">
        
                    </div>
        
                    <div class="col-12">
        
                        <p class="display-3 mt-5 big custom-p2 ">Gender</p>
                    </div>
        
                    <div class="col-12">
        
                        <h5 class="text-center  text-uppercase custom-p1 text-custom3 font-size-sm-100per ">According to the United Nations, gender equality is fundamental to the  <br> 
                            achievement of all seventeen of the Sustainable Development Goals, affecting   <br>
                            access to quality health care, exposure to health risks, and the outcomes of   <br>
                            disease and disability—for children and parents alike. Conversely,    <br>
                            improvements in health, from lower child mortality to greater access to <br>
                           
                            reproductive care, can alter the power to access gender-related rights and<br> 
                            freedoms. This section examines the new ways in which health and gender <br> 
                            intersect and reinforce each other.
                            
                            .</h5>>
                    </div>
        
                </div>
        
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" id="close" onclick="closeNav()">&times;</a>
                    <a class="tr" href="#">Environment</a>
                    <a class="tr" href="#">Poverty</a>
                    <a class="tr" href="#">Trade</a>
                    <a class="tr" href="#">Governance</a>
                    <a class="tr" href="#">Food</a>
                    <a class="tr" href="#">Urbanization</a>
                    <a class="tr" href="#">Aging</a>
                    <a class="tr" href="#">Gender</a>
                    <a class="tr" href="#">Migration</a>
                </div>
        
            </header>
    
   <!-- navigation bar start -->

   


                                        <!-- header end  -->




             <!-- part 1 start  -->
  

    <main class="main ml-5 mr-5">
        
        

                             <!-- part 1 end  -->


        <hr class="" style="border:1px solid black">


                                 <!-- part 2 start  -->

     <div class="mb-5">
         <h2 class=" font-weight-bold font-size-sm-100per">Gender</h2>
     </div>

                       <!-- part 2 end  -->

                        
  

                        <!-- part 3 start  -->

     <div class="row">
           <div class="col-sm-12 col-lg-3 ">
                <hr style="border:1px solid black">
                <div class="row">
                    <div class="col-10">
                        <h6 class="font-weight-bolder">Poverty</h6>
                       
                    </div>
                    <div class="col-2 d-flex">
                       <a class="next mr-3"href="#"> <i class="  fas fa-arrow-left"></i></a>
                       <a href="#"> <i class="next fas fa-arrow-right"> </i></a>
                        
                    </div>
                </div>
           </div>

            <div class="col-lg-8 col-sm-12 ml-lg-3">

                <div class="row">

                    <div class="col-4 card">

                        <div class="">
                            
                              <h1 class="sp font-weight-bold font-size-sm-20">45 percent</h1>
                              <p class="font-size-sm-15">Chinese factories supply 70 percent of active ingredients for India’s generic drug manufacturers, which supply the world</p>
                             
                              <div class="row animiton ">
                                    <div class="col-12">
                                        <img src="https://www.thinkglobalhealth.org/sites/default/files/styles/medium/public/2020-02/YH-CoV-Econ-2.2420-Mirror-RTS33BUL-SQUARE.jpg?itok=p-Vvnkxn">
                                    </div>
                                    <div class="col-12">
                                        <p class="font-weight-bolder">Coronavirus and the World Economy</p>
                                    </div>
                              </div>
                           
                          </div>
                    </div>


                    <div class="col-4 card">

                        <div class=" ">
                            
                            <h1 class="sp font-weight-bold font-size-sm-20">$19 per $1</h1>
                            <p class="font-size-sm-15">$19 return for economic growth and health for every $1 invested in the Global Fund</p>
                            
                            <div class="row animiton">
                                <div class="col-12">
                                    <img src="https://www.thinkglobalhealth.org/sites/default/files/styles/medium/public/2020-02/YH-CoV-Econ-2.2420-Mirror-RTS33BUL-SQUARE.jpg?itok=p-Vvnkxn">
                                </div>
                                <div class="col-12">
                                    <p class="font-weight-bolder">Coronavirus </p>
                                </div>
                          </div>
                         
                        </div>
                    </div>

                    <div class="col-4 card ">

                        <div class=" ">
                            
                            <h1 class="sp font-weight-bold font-size-sm-20">2006</h1>
                            <p class="font-size-sm-15">The year alcohol use in Russia peaked was 2006, after which it fell as the government tightened alcohol policies</p>
                            
                            <div class="row animiton ">
                                <div class="col-12">
                                    <img src="https://www.thinkglobalhealth.org/sites/default/files/styles/medium/public/2020-02/YH-CoV-Econ-2.2420-Mirror-RTS33BUL-SQUARE.jpg?itok=p-Vvnkxn">
                                </div>
                                <div class="col-12">
                                    <p class="font-weight-bolder">Coronavirus and the World Economy</p>
                                </div>
                          </div>
                        </div>
                    </div>
                   


                </div>
              
                

            </div>

       
        </div>
    
                     <!-- part 3 end  -->


                     <!-- part 4 start  -->

                     <hr style="border:1px solid black">
        <div class="row">
            

            <div class="col-12">
                <div class="row">
                        <div class="col-8">
                            <h2 class="font-weight-bolder">Featured</h2>
                        </div>
                        <div class="col-4">
                            <p class="float-right mr-2" style="color: red;">see all</p>
                        </div>
                </div>
               
                      
            </div>

        
        </div>


        <div class="row mt-5">
            
            <div class="col-lg-6 col-sm-12 col-md-12 mb-5">
                 
                <img src="./../assets/img/45.jpg">
                <h2 class=" big display-4 font-weight-bold mt-3 text-custom-size1 ">Gender and the Coronavirus Outbreak</h2>
           
                <p class="font-weight-bold font-size-sm-15">by

                    <span class="span-hover">  John Simon </span>
                    <span class="span-hover">Collins,</span> 
                    <span class="span-hover"> K. Barnett  </span> 
                    <span class="span-hover">   - February 22, 2020   </span>

                    </p> 
              <h5 class="text-custom3">Gender inequities make outbreaks worse, so why not integrate gender analysis into the response now to help save lives?</h5>
          
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mb-5">

                <div class="row">

                    <div class="col-4 col-md-12">
                        <img src="./../assets/img/42.jpg">
                    </div>

                    <div class="col-7 col-md-12">
                        <h2 class=" text-custom3 font-size15 font-size-sm-15">The Lost Cities and Towns of Asia and Africa  </h2>
                    
                        <p class="font-weight-bold font-size15 font-size-sm-10">by

                            <span class="span-hover">  Daniel Lucey, </span>
                            <span class="span-hover">, Kristen Kent</span> 
        
                            </p>

                            <h5 class="text-custom3 font-size15 font-size-sm-15">A global definition of cities means better understanding of local urban health</h5>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">

                 <div class="row">

                    <div class="col-4  col-md-12">
                        <img src="./../assets/img/46.jpg">
                    </div>

                    <div class="col-8 col-md-12 ">
                        <h2 class=" text-custom3 font-size15 font-size-sm-15">Baby in a Bomb Shelter </h2>
                    
                        <p class="font-weight-bold font-size15 font-size-sm-10">by

                            <span class="span-hover">  Jason, </span>
                            <span class="span-hover"> Socrates Bardi</span> 
        
                            </p>

                            <h5 class="text-custom3 font-size15 font-size-sm-15">Oscar nominated documentary “For Sama” gives powerful if gruesome glimpse of what it’s like to raise a kid in a war zone</h5>
                    </div>

                </div>
            </div>
    
        </div>


                         <!-- part 4 end  -->

                         <hr class="hr-big" style="border:1px solid black">

                         <!-- part 5 start  -->
        <div class="row mb-5">
            <div class="col-6">
                <h4 class=" font-weight-bold ">Latest</h4>
            </div>
            <div class="col-6">
               <p class="float-right"><span class="span-red">See all</span></p>
            </div>
        </div>


       

       

        <div class="row mt-5">

            <div class="col-2 col-md-2 left-div-sm">
                <span class="text-uppercase span-red text-sm-left font-size-sm-10">Poverty</span>
            </div>
            <div class="col-12 col-md-4 margin-top-sm10px margin-top-md10px ">
                <img class="image-small" src="./../assets/img/10.jpg">
            </div>
            <div class="col-12 col-md-6  left-div-sm margin-top-sm20px margin-top-md30px ">
                <h3 class="text-custom1 text-sm-left font-size15 font-size-sm-15  ">Rethinking Ways to Address Child Growth Failure</h3>
                <p class="font-weight-bold font-size15 font-size-sm-10">by
                    <span class=" span-hover"> Simon</span>
                    <span class=" span-hover">I.Hay</span>
                    <span class=" span-hover">Tim Exton</span>
                </p>

                <h5 class="text-custom2 font-size15 font-size-sm-10">Precision health mapping of regional and local targets would help steer limited resources to the places of greatest need</h5>
            </div>

        </div>


      
        <div class="row mt-5">

            <div class="col-2 col-md-2 left-div-sm">
                <span class="text-uppercase span-red text-sm-left font-size-sm-10">Poverty</span>
            </div>
            <div class="col-12 col-md-4 margin-top-sm10px margin-top-md10px">
                <img class="image-small" src="./../assets/img/11.jpg">
            </div>
            <div class="col-12 col-md-6  left-div-sm margin-top-sm20px margin-top-md30px ">
                <h3 class="text-custom1 text-sm-left font-size15 font-size-sm-15  ">Rethinking Ways to Address Child Growth Failure</h3>
                <p class="font-weight-bold font-size15 font-size-sm-10">by
                    <span class=" span-hover"> Simon</span>
                    <span class=" span-hover">I.Hay</span>
                    <span class=" span-hover">Tim Exton</span>
                </p>

                <h5 class="text-custom2 font-size15 font-size-sm-10">Precision health mapping of regional and local targets would help steer limited resources to the places of greatest need</h5>
            </div>

        </div>


        <div class="row mt-5">

            <div class="col-2 col-md-2 left-div-sm">
                <span class="text-uppercase span-red text-sm-left font-size-sm-10">Poverty</span>
            </div>
            <div class="col-12 col-md-4 margin-top-sm10px margin-top-md10px">
                <img class="image-small" src="./../assets/img/47.jpg">
            </div>
            <div class="col-12 col-md-6  left-div-sm margin-top-sm20px margin-top-md30px ">
                <h3 class="text-custom1 text-sm-left font-size15 font-size-sm-15  ">Rethinking Ways to Address Child Growth Failure</h3>
                <p class="font-weight-bold font-size15 font-size-sm-10">by
                    <span class=" span-hover"> Simon</span>
                    <span class=" span-hover">I.Hay</span>
                    <span class=" span-hover">Tim Exton</span>
                </p>

                <h5 class="text-custom2 font-size15 font-size-sm-10">Precision health mapping of regional and local targets would help steer limited resources to the places of greatest need</h5>
            </div>

        </div>

        <div class="row mt-5 mb-5 justify-content-center">

                 <button class="font-weight-bold text-custom2 font-size-sm-15  button-hover">Load More</button>
        </div>
                          <!-- part 5 end  -->


                        

       
    </main>

                  <!-- footer start  -->
    <footer class="part-6 row">

        <div class="col-12 ">

            <div class="row justify-content-center align-items-center">
                <button class="big-button"><h1 class="font-size20 big cd text-light font-size-sm-15">Subscribe to our newsletter</h1></button>
       

            </div>

            
        </div>

        <div class="col-12 mt-5">

            <p class="stay text-center font-size15 font-italic font-size-sm-15">Stay up to date with the latest trends in global health</p>
        </div>

       

        <div class="col-12 mt-5 ">

            <hr class="hr-big container" style="border:1px solid white">
            <div class="row justify-content-center align-items-center">
                <p class="text-light font-size-sm-10"><span class="span-hover"> AboutSite</span></p>
                <p class="text-light ml-4 font-size-sm-10"> <span class="span-hover"> Submission Guidelines</span></p>
            </div>
            <hr class="container" style="border:1px solid white">
        </div>



        <div class="col-12 mt-5 ml-sm-5 ml-md-4 ">
          
            <div class="row">

                <div class="col-3 ">
                         <p class="ml-lg-5 p-footer font-size10 font-size-sm-5 ">COUNCIL<span>on</span><br>
                        FOREIGN<br>
                         RELATIONS</p>
                </div>

                <div class="col-6">
                    <h1 class="big think-footer text-lg-center font-size15 font-size-sm-10  ">Think Global Health</h1>
                </div>

                <div class="col-3">
                    <i class="fab fa-twitter text-center span-hover font-size20 font-size-sm-10"></i>
                </div>
            </div>
            
          
        </div>


       
           
        <div class="col-12 ml-sm-2 ">

            <div class="row justify-content-center  date-footer font-size10 font-size-sm-5 ">
                <p class=" footer-p-date ">©2020 Council on Foreign Relations. All rights reserved. <span class="font-weight-bold text-light span-hover">Privacy Policy</span> and <span class=" span-hover  text-light">Terms of Use.</span></p>
            </div>
        </div>

    </footer>

    <!-- script input  -->


    <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="./../assets/js/popper.min.js"></script>
    <script src="./../assets/js//bootstrap.min.js"></script>
</body>
</html>