<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./../assets/css/uikit.css" />
    <link rel="stylesheet" href="./../assets/css/style.css" />
    <link rel="stylesheet" href="./../assets/css/small.css" />

    <link rel="stylesheet" href="./../assets/css/bootstrap.css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="./../assets/js/uikit.min.js"></script>

    <script src="./../assets/js/uikit-icons.min.js"></script>
    <script src="./../assets/js/my.js"></script>
    <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="./../assets/js/popper.min.js"></script>
    <script src="./../assets/js//bootstrap.min.js"></script>
</head>

<body>

    <!-- header start  -->
    <header class="mt-4 ">
        <div class="row">
            <div class="col">
                <button onclick="openNav()" class="btn btn-large ml-sm-5"><i class="fas fa-bars size-1"></i></button>
            </div>
            <div class="col-8 mr-sm-5">
                <!-- <img class=" " src="./../assets/img/Think.png"> -->
                <h1 class="big text-center font-size-sm-25  margin-right-sm70px">Think Global Health</h1>
            </div>
            <div class="col hide">
                <p class="font-weight-bold"><span class="font-italic" style="font-size: 10px; color:#BC9876">an
                        initiative from </span><br>
                    COUNCIL<span>on <br></span>
                    FOREIGN<br>
                    RELATIONS</p>
            </div>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" id="close" onclick="closeNav()">&times;</a>
            <a class="tr big " href="#">Environment</a>
            <a class="tr big" href="#">Poverty</a>
            <a class="tr big" href="#">Tr bigade</a>
            <a class="tr big" href="#">Governance</a>
            <a class="tr big" href="#">Food</a>
            <a class="tr big" href="#">Urbanization</a>
            <a class="tr big" href="#">Aging</a>
            <a class="tr big" href="#">Gender</a>
            <a class="tr big" href="#">Migration</a>
        </div>
    </header>

    <!-- navigation bar start -->

    <nav class="hide">


        <div class="bg-dark ">

            <div
                uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">

                <nav class="uk-navbar-container ">
                    <div class="uk-container ">
                        <div uk-navbar class="vf row justify-content-center">

                            <ul class="uk-navbar-nav   ">

                                <li class="uk-active"><a href="./environment.html">Environment</a></li>
                                <li class=""><a href="./Poverty.html">Poverty</a></li>
                                <li class=""><a href="./Trade.html"> Trade</a></li>
                                <li class=""><a href="./Governance.html">Governance</a></li>
                                <li class=""><a href="./Food.html">Food</a></li>
                                <li class=""><a href="./Urbanization.html">Urbanization</a></li>
                                <li class=""><a href="./Aging.html">Aging</a></li>

                                <li class=""><a href="./Gender.html">Gender</a></li>



                            </ul>

                        </div>
                    </div>
                </nav>
            </div>



        </div>


    </nav>


    <!-- header end  -->




    <!-- part 1 start  -->


    <main class="main ml-5 mr-5">

        <div class="row">

            <div class="col-lg-6 col-sm-12">
                <span style="color:red;">Governance</span>
                <img class="" src="./../assets/img/4.jpg">
                <h1 class=" big text-sm-left">Anticipating Coronavirus in West Africa</h1>
                <p class="text-sm-left">by <span>Jason</span> <span> Socrates </span>, <span>Thomas</span> J. Bollyky -
                    March 3, 2020 </p>
                <p>Interview with Nigeria CDC leader Chikwe Ihekweazu on outbreak detection, preparedness, response, and
                    COVID-19 in Africa</p>
            </div>


            <div class="col-lg-3 col-sm-12">

                <span style="color:red;">Governance</span>
                <div class="row">

                    <div class="col-3 col-md-12">
                        <img class="" src="./../assets/img/5.jpg">
                    </div>
                    <div class="col-9 col-md-12">
                        <h5 style="font-weight: bold;">Africa’s Urban Housing Crisis </h5>
                        <p style="font-weight: bold;">by Michelle D. Gavin</p>
                    </div>

                </div>


                <span style="color:red;">Governance</span>
                <div class="row">

                    <div class="col-3 col-md-12">
                        <img class="" src="./../assets/img/5.jpg">
                    </div>
                    <div class="col-9 col-md-12">
                        <h5 style="font-weight: bold;">Africa’s Urban Housing Crisis </h5>
                        <p style="font-weight: bold;">by Michelle D. Gavin</p>
                    </div>

                </div>


                <span style="color:red;">Governance</span>
                <div class="row">

                    <div class="col-3 col-md-12 ">
                        <img class="" src="./../assets/img/5.jpg">
                    </div>
                    <div class="col-9 col-md-12  ">
                        <h5 style="font-weight: bold;">Africa’s Urban Housing Crisis </h5>
                        <p style="font-weight: bold;">by Michelle D. Gavin</p>
                    </div>

                </div>


            </div>


            <div class="col-lg-3 col-sm-12 ">
                <hr class="" style="border:1px solid black">
                <h2>The Latest</h2>

                <div class="mt-5">
                    <p>Poverty</p>
                    <h5>Tentative Victory Against Ebola in Eastern Congo </h5>
                </div>

                <div class="mt-5">
                    <p>Poverty</p>
                    <h5>Tentative Victory Against Ebola in Eastern Congo </h5>
                </div>


                <div class="mt-5">
                    <p>Poverty</p>
                    <h5>Tentative Victory Against Ebola in Eastern Congo </h5>
                </div>

                <div class="mt-5">
                    <p>Poverty</p>
                    <h5>Tentative Victory Against Ebola in Eastern Congo </h5>
                </div>

                <div class="mt-5">
                    <p>Poverty</p>
                    <h5>Tentative Victory Against Ebola in Eastern Congo </h5>
                </div>
            </div>
        </div>


        <!-- part 1 end  -->


        <hr class="" style="border:1px solid black">


        <!-- part 2 start  -->

        <div class="mb-5">
            <h2 class=" font-weight-bold">Research & Analysis</h2>
        </div>

        <div class="row ">

            <div class="col-lg-3 col-sm-12 col-md-12">
                <div class="row">

                    <div class="col-sm-3 col-md-12 mb-lg-5">
                        <img src="./../assets/img/6.jpg">
                    </div>
                    <div class="col-sm-9 col-md-12 ">
                        <h2 class="mb-lg-4 font-size-sm-20">Coronavirus in Iran—An Isolated Response? </h2>
                        <h5 class="mb-lg-5 font-weight-bold font-italic font-size-sm-15">by Ray Takeyh</h5>
                        <p class="font-italic">As the COVID-19 crisis deepens, will Tehran wean itself off suspicions
                            and collaborate in efforts to control the virus?</p>
                    </div>

                </div>


            </div>
            <div class="col-lg-3 col-sm-12 col-md-12">

                <div class="row">

                    <div class="col-sm-3 col-md-12 mb-lg-5">
                        <img src="./../assets/img/7.jpg">
                    </div>
                    <div class="col-sm-9 col-md-12 ">
                        <h2 class="mb-lg-4 font-size-sm-20">Coronavirus in Iran—An Isolated Response? </h2>
                        <h5 class="mb-lg-5 font-weight-bold font-italic font-size-sm-15">by Ray Takeyh</h5>
                        <p class="font-italic">As the COVID-19 crisis deepens, will Tehran wean itself off suspicions
                            and collaborate in efforts to control the virus?</p>
                    </div>

                </div>
            </div>


            <div class="col-lg-6 col-sm-12 col-md-12">
                <img class="mb-2" src="./../assets/img/8.jpg">
                <h3 class="mb-3 big  font-size-sm-20 ">Long-Term Impacts of Coronavirus in South Korea</h3>
                <h6 class="font-weight-bolder mb-3">by Scott Snyder - March 4, 2020 </h6>
                <p class="font-italic">Despite South Korea’s high capacity for response, COVID-19's spread may incite
                    human, economic, and political disasters</p>
            </div>

        </div>

        <!-- part 2 end  -->

        <!-- big image start  -->

        <div class="row mt-5">
            <img class="img-responsive" src="./../assets/img/9.jpg">

        </div>

        <!-- big image end  -->


        <!-- part 3 start  -->

        <div class="row">
            <div class="col-sm-12 col-lg-3 ">
                <hr style="border:1px solid black">
                <div class="row">
                    <div class="col-10">
                        <h6 class="font-weight-bolder">Data in Global Health</h6>
                        <p>Featured Data Points </p>
                    </div>
                    <div class="col-2 d-flex">
                        <a class="next mr-3" href="#"> <i class="  fas fa-arrow-left"></i></a>
                        <a href="#"> <i class="next fas fa-arrow-right"> </i></a>

                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-sm-12 ml-lg-3">

                <div class="row">

                    <div class="col-4 card">

                        <div class="">

                            <h1 class="sp font-weight-bold font-size-sm-20">45 percent</h1>
                            <p class="font-size-sm-15">Chinese factories supply 70 percent of active ingredients for
                                India’s generic drug manufacturers, which supply the world</p>

                            <div class="row animiton ">
                                <div class="col-12">
                                    <img
                                        src="https://www.thinkglobalhealth.org/sites/default/files/styles/medium/public/2020-02/YH-CoV-Econ-2.2420-Mirror-RTS33BUL-SQUARE.jpg?itok=p-Vvnkxn">
                                </div>
                                <div class="col-12">
                                    <p class="font-weight-bolder">Coronavirus and the World Economy</p>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-4 card">

                        <div class=" ">

                            <h1 class="sp font-weight-bold font-size-sm-20">$19 per $1</h1>
                            <p class="font-size-sm-15">$19 return for economic growth and health for every $1 invested
                                in the Global Fund</p>

                            <div class="row animiton">
                                <div class="col-12">
                                    <img
                                        src="https://www.thinkglobalhealth.org/sites/default/files/styles/medium/public/2020-02/YH-CoV-Econ-2.2420-Mirror-RTS33BUL-SQUARE.jpg?itok=p-Vvnkxn">
                                </div>
                                <div class="col-12">
                                    <p class="font-weight-bolder">Coronavirus </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-4 card ">

                        <div class=" ">

                            <h1 class="sp font-weight-bold font-size-sm-20">2006</h1>
                            <p class="font-size-sm-15">The year alcohol use in Russia peaked was 2006, after which it
                                fell as the government tightened alcohol policies</p>

                            <div class="row animiton ">
                                <div class="col-12">
                                    <img
                                        src="https://www.thinkglobalhealth.org/sites/default/files/styles/medium/public/2020-02/YH-CoV-Econ-2.2420-Mirror-RTS33BUL-SQUARE.jpg?itok=p-Vvnkxn">
                                </div>
                                <div class="col-12">
                                    <p class="font-weight-bolder">Coronavirus and the World Economy</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>



            </div>


        </div>
        </div>
        <!-- part 3 end  -->


        <!-- part 4 start  -->

        <hr style="border:1px solid black">
        <div class="row">


            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h2 class="font-weight-bolder text-custom3 font-size-sm-25">Series: Global Health is Failing
                            Women and Girls</h2>
                    </div>
                    <div class="col-4">
                        <p class="float-right mr-2" style="color: red;">see all</p>
                    </div>
                </div>


            </div>

            <div class="col-12">

                <p class="text-custom3 ">Global investments in women and girls have stalled, left many underserved, and
                    have been slow to adapt to emerging needs.</p>


            </div>
        </div>


        <div class="row mt-5">

            <div class="col-lg-6 col-sm-12 col-md-6">

                <img src="./../assets/img/10.jpg">
                <h2 class=" big display-4 font-weight-bold ">The U.S. Government’s Role in Addressing Global Women’s
                    Health</h2>

                <p class="font-weight-bold">by <span class="red">Jen Kates,</span><span class="red">Kellie Moss -</span>
                    <span clas="red">February 20, 2020</span> </p>
                <h5 class="font-weight-bold text-custom3">What will happen to women and girls in low- and middle-income
                    countries in the future as aid stalls and progress slows?</h5>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <img src="./../assets/img/11.jpg">

                <h2 class=" font-weight-bold text-custom2 font-size-sm-20">How to Save the Lives of Women and Girls in
                    Africa </h2>

                <p class="font-weight-bold">by Edinah Masiyiwa </p>
                <h5 class="font-size-sm-20 text-custom3">African governments must follow through on their lofty
                    declarations and allocate national budgets to save women’s lives</h5>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <img src="./../assets/img/12.jpg">

                <h2 class=" font-weight-bold text-custom3 font-size-sm-20">Human Development is the Best
                    Contraceptive—Why India Does Not Need a Two-Child Norm </h2>

                <p class="font-weight-bold ">by Poonam Muttreja</p>
                <h5 class="text-custom3 font-size-sm-20">Key to harnessing potential of India is enhancing capabilities
                    of young people and expanding freedoms of girls and women</h5>

            </div>

        </div>


        <!-- part 4 end  -->

        <hr class="hr-big" style="border:1px solid black">

        <!-- part 5 start  -->
        <div class="row mb-5">
            <div class="col-6">
                <h4 class=" font-weight-bold ">What we're reading</h4>
            </div>
            <div class="col-6">
                <p class="float-right"><span class="span-red">See all</span></p>
            </div>
        </div>


        <div class="row">

            <div class="col-lg-3 col-sm-12">
                <p><span class="span-red">The New Republic </span></p>
                <h3 class="big">The Plague Years <i class="fas fa-arrow-up"></i> </h3>
                <p class=" font-weight-bold">by Robert F. Service</p>
                <p class="details">Universities across the country remain closed; access to labs is restricted, projects
                    mothballed, fieldwork interrupted, and travel severely curtailed</p>

            </div>

            <div class="col-lg-3 col-sm-12">

                <p><span class="span-red">Science </span></p>
                <h3 class="big">‘The disruption is enormous.’ Coronavirus epidemic snarls science worldwide <i
                        class="fas fa-arrow-up"></i> </h3>
                <p class=" font-weight-bold">by Maryn McKenna</p>
                <p class="details">How a rise in nationalist politics is causing countries to turn inward, harden
                    borders, distrust outsiders, and may be jeopardizing the world's health</p>

            </div>

            <div class="col-lg-3 col-sm-12">

                <p><span class="span-red">Foreign Affairsc </span></p>
                <h3 class="big">The Epidemic of Despair / Will America’s Mortality Crisis Spread to the Rest of the
                    World?
                    <i class="fas fa-arrow-up"></i> </h3>
                <p class=" font-weight-bold">by Anne Case and Angus Deaton</p>
                <p class="details">Since the mid-1990s, the U.S. has been suffering from an epidemic of “deaths of
                    despair”—caused by drug overdose, alcoholic liver disease, or suicide</p>

            </div>

            <div class="col-lg-3 col-sm-12">

                <p><span class="span-red">New York Times </span></p>
                <h3 class="big">Sugary Drink Consumption Plunges in Chile After New Food Law
                    <i class="fas fa-arrow-up"></i> </h3>
                <p class=" font-weight-bold">by Andrew Jacobs</p>
                <p class="details">Four years after Chile embraced the world’s most sweeping measures to combat mounting
                    obesity, a partial verdict on their effectiveness is in…</p>

            </div>
        </div>
        <!-- part 5 end  -->





    </main>

    <!-- footer start  -->
    <footer class="part-6 row">

        <div class="col-12 ">

            <div class="row justify-content-center align-items-center">
                <button class="big-button">
                    <h1 class="font-size20 big cd text-light font-size-sm-15">Subscribe to our newsletter</h1>
                </button>


            </div>


        </div>

        <div class="col-12 mt-5">

            <p class="stay text-center font-size15 font-italic font-size-sm-15">Stay up to date with the latest trends
                in global health</p>
        </div>



        <div class="col-12 mt-5 ">

            <hr class="hr-big container" style="border:1px solid white">
            <div class="row justify-content-center align-items-center">
                <p class="text-light font-size-sm-15"><span class="span-hover"> AboutSite</span></p>
                <p class="text-light ml-4 font-size-sm-15 "> <span class="span-hover"> Submission Guidelines</span></p>
            </div>
            <hr class="container" style="border:1px solid white">
        </div>



        <div class="col-12 mt-5 ml-sm-5 ml-md-4 ">

            <div class="row">

                <div class="col-3 ">
                    <p class="ml-lg-5 p-footer font-size10 font-size-sm-10 text-light">COUNCIL<span>on</span><br>
                        FOREIGN<br>
                        RELATIONS</p>
                </div>

                <div class="col-6">
                    <h1 class="big think-footer text-lg-center font-size15 font-size-sm-15 margin-left-sm50px margin-left-md-70px  ">Think Global Health</h1>
                </div>

                <div class="col-3">
                    <i class="fab fa-twitter text-center span-hover font-size20 font-size-sm-15"></i>
                </div>
            </div>


        </div>




        <div class="col-12 ml-sm-2 ">

            <div class="row justify-content-center  date-footer font-size10 font-size-sm-10 ">
                <p class=" footer-p-date ">©2020 Council on Foreign Relations. All rights reserved. <span
                        class="font-weight-bold text-light span-hover">Privacy Policy</span> and <span
                        class=" span-hover  text-light">Terms of Use.</span></p>
            </div>
        </div>

    </footer>

    <!-- script input  -->



</body>

</html>