<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urbanization</title>

    <link rel="stylesheet" href="./../assets/css/uikit.css" />
    <link rel="stylesheet" href="./../assets/css/environment.css" />
    <link rel="stylesheet" href="./../assets/css/style.css" />
    <link rel="stylesheet" href="./../assets/css/small.css" />
    <link rel="stylesheet" href="./../assets/css/bootstrap.css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="./../assets/js/uikit.min.js"></script>
    <script src="./../assets/js/uikit-icons.min.js"></script>
    <script src="./../assets/js/uikit-icons.min.js"></script>
    <script src="./../assets/js/my.js"></script>
    <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="./../assets/js/popper.min.js"></script>
    <script src="./../assets/js//bootstrap.min.js"></script>
</head>

<body>

    <!-- header start  -->
    <header class="header-image6">

        <div class="row style-1">

            <div class="col-12 container mt-5">

                <div class="row ">
                    <div class="col-2">
                        <button class="" style="background: transparent;border: transparent;"> <img class="w-25"
                                onclick="openNav()" src="./../assets/img/search.png"></button>

                    </div>
                    <div class="col-8">
                        <a href="index.html">
                            <h1 class="big  font-size-sm-100per" style="color:white">Think Global Health</h1>
                        </a>
                    </div>
                    <div class="col-2">
                        <i class="fas fa-share-alt" style="color:white"></i>
                    </div>


                </div>
                <hr class="container" style="border:1px solid white">

            </div>

            <div class="col-12">

                <p class="display-3 mt-5 big custom-p2 ">Urbanization</p>
            </div>

            <div class="col-12">

                <h5 class="text-center  text-uppercase custom-p1 text-custom3 font-size-sm-10 ">More than half the
                    world’s population now resides in cities. Urbanization in <br>
                    low-income countries could offer billions of people better access to jobs and <br>
                    settlements, but globalization has brought these spheres together as never <br>
                    health-care services and a gateway to the world economy. To reap those <br>
                    intersection between trade and health, asks how they impact the poor, and <br>
                    benefits, those nations will have to confront the looming health and <br>
                    environmental challenges of urban life. This section examines the ways in <br>
                    which health and infectious diseases shape urbanization, but also the ways in <br>
                    which health and infectious diseases shape urbanization, but also the ways in .</h5>>
            </div>

        </div>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" id="close" onclick="closeNav()">&times;</a>
            <a class="tr big " href="#">Environment</a>
            <a class="tr big" href="#">Poverty</a>
            <a class="tr big" href="#">Tr bigade</a>
            <a class="tr big" href="#">Governance</a>
            <a class="tr big" href="#">Food</a>
            <a class="tr big" href="#">Urbanization</a>
            <a class="tr big" href="#">Aging</a>
            <a class="tr big" href="#">Gender</a>
            <a class="tr big" href="#">Migration</a>
        </div>

    </header>

    <!-- navigation bar start -->




    <!-- header end  -->




    <!-- part 1 start  -->


    <main class="main ml-5 mr-5">



        <!-- part 1 end  -->


        <hr class="" style="border:1px solid black">


        <!-- part 2 start  -->

        <div class="mb-5">
            <h2 class=" font-weight-bold font-size-sm-100per">Research & Analysis</h2>
        </div>

        <!-- part 2 end  -->




        <!-- part 3 start  -->

        <div class="row">
            <div class="col-sm-12 col-lg-3 ">
                <hr style="border:1px solid black">
                <div class="row">
                    <div class="col-10">
                        <h6 class="font-weight-bolder">Poverty</h6>

                    </div>
                    <div class="col-2 d-flex">
                        <a class="next mr-3" href="#"> <i class="  fas fa-arrow-left"></i></a>
                        <a href="#"> <i class="next fas fa-arrow-right"> </i></a>

                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-sm-12 ml-lg-3">

                <div class="row">

                    <div class="col-4 card">

                        <div class="">

                            <h1 class="sp font-weight-bold font-size-sm-20">45 percent</h1>
                            <p class="font-size-sm-15">Chinese factories supply 70 percent of active ingredients for
                                India’s generic drug manufacturers, which supply the world</p>

                            <div class="row animiton ">
                                <div class="col-12">
                                    <img
                                        src="https://www.thinkglobalhealth.org/sites/default/files/styles/medium/public/2020-02/YH-CoV-Econ-2.2420-Mirror-RTS33BUL-SQUARE.jpg?itok=p-Vvnkxn">
                                </div>
                                <div class="col-12">
                                    <p class="font-weight-bolder">Coronavirus and the World Economy</p>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-4 card">

                        <div class=" ">

                            <h1 class="sp font-weight-bold font-size-sm-20">$19 per $1</h1>
                            <p class="font-size-sm-15">$19 return for economic growth and health for every $1 invested
                                in the Global Fund</p>

                            <div class="row animiton">
                                <div class="col-12">
                                    <img
                                        src="https://www.thinkglobalhealth.org/sites/default/files/styles/medium/public/2020-02/YH-CoV-Econ-2.2420-Mirror-RTS33BUL-SQUARE.jpg?itok=p-Vvnkxn">
                                </div>
                                <div class="col-12">
                                    <p class="font-weight-bolder">Coronavirus </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-4 card ">

                        <div class=" ">

                            <h1 class="sp font-weight-bold font-size-sm-20">2006</h1>
                            <p class="font-size-sm-15">The year alcohol use in Russia peaked was 2006, after which it
                                fell as the government tightened alcohol policies</p>

                            <div class="row animiton ">
                                <div class="col-12">
                                    <img
                                        src="https://www.thinkglobalhealth.org/sites/default/files/styles/medium/public/2020-02/YH-CoV-Econ-2.2420-Mirror-RTS33BUL-SQUARE.jpg?itok=p-Vvnkxn">
                                </div>
                                <div class="col-12">
                                    <p class="font-weight-bolder">Coronavirus and the World Economy</p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>



            </div>


        </div>

        <!-- part 3 end  -->


        <!-- part 4 start  -->

        <hr style="border:1px solid black">
        <div class="row">


            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h2 class="font-weight-bolder">Featured</h2>
                    </div>
                    <div class="col-4">
                        <p class="float-right mr-2" style="color: red;">see all</p>
                    </div>
                </div>


            </div>


        </div>


        <div class="row mt-5">

            <div class="col-lg-6 col-sm-12 col-md-12 mb-5">

                <img src="./../assets/img/36.jpg">
                <h2 class=" big display-4 font-weight-bold mt-3 text-custom-size1 ">Getting WASH into Health Care
                    Facilities: An Urgent Global Health Need</h2>

                <p class="font-weight-bold font-size-sm-15">by

                    <span class="span-hover"> John Simon </span>
                    <span class="span-hover">Collins,</span>
                    <span class="span-hover"> K. Barnett </span>
                    <span class="span-hover"> - February 22, 2020 </span>

                </p>
                <h5 class="text-custom3">Will the UN’s prioritization of clean water, sanitation and hand washing in
                    health care facilities finally breed action?</h5>

            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mb-5">

                <div class="row">

                    <div class="col-4 col-md-12">
                        <img src="./../assets/img/37.jpg">
                    </div>

                    <div class="col-7 col-md-12">
                        <h2 class=" text-custom3 font-size15 font-size-sm-15">The Lost Cities and Towns of Asia and
                            Africa </h2>

                        <p class="font-weight-bold font-size15 font-size-sm-10">by

                            <span class="span-hover"> Daniel Lucey, </span>
                            <span class="span-hover">, Kristen Kent</span>

                        </p>

                        <h5 class="text-custom3 font-size15 font-size-sm-15">A global definition of cities means better
                            understanding of local urban health</h5>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">

                <div class="row">

                    <div class="col-4  col-md-12">
                        <img src="./../assets/img/38.jpg">
                    </div>

                    <div class="col-8 col-md-12 ">
                        <h2 class=" text-custom3 font-size15 font-size-sm-15">Pandemic, a Game Gone Viral </h2>

                        <p class="font-weight-bold font-size15 font-size-sm-10">by

                            <span class="span-hover"> Jason, </span>
                            <span class="span-hover"> Socrates Bardi</span>

                        </p>

                        <h5 class="text-custom3 font-size15 font-size-sm-15">An interview with Matt Leacock, creator of
                            the popular 10-year-old board game, on the art of designing cooperative play</h5>
                    </div>

                </div>
            </div>

        </div>


        <!-- part 4 end  -->

        <hr class="hr-big" style="border:1px solid black">

        <!-- part 5 start  -->
        <div class="row mb-5">
            <div class="col-6">
                <h4 class=" font-weight-bold ">Latest</h4>
            </div>
            <div class="col-6">
                <p class="float-right"><span class="span-red">See all</span></p>
            </div>
        </div>




        <div class="row">

            <div class="col-12">

                <div class="row">

                    <div class="col-lg-3 col-8 ">

                        <span class="span-red">Trade</span>

                    </div>

                    <div class="col-lg-4 col-4 justify-content-lg-end">

                        <img class="custom-image1 " src="./../assets/img/5.jpg">

                    </div>

                    <div class="col-lg-5 col-8 custom-margin-top1">

                        <h2>Pandemic, a Game Gone Viral</h2>
                        <p class="font-weight-bold">by
                            <span class="span-hover"> Jason </span>
                            <span class="span-hover">Socrates Bardi</span>


                        </p>
                        <h5 class="text-custom1">An interview with Matt Leacock, creator of the popular 10-year-old
                            board game, on the art of designing cooperative play</h5>

                    </div>

                </div>

            </div>


        </div>


        <div class="row mt-4">

            <div class="col-lg-6 col-sm-12 col-md-12">
                <img src="./../assets/img/36.jpg">
                <h3 class="text-custom3 mt-2">Getting WASH into Health Care Facilities: An Urgent Global Health Need
                </h3>

                <p class="font-weight-bold">by

                    <span class="span-hover"> John Simon </span>
                    <span class="span-hover"> Susan K. Barnett</span>


                </p>

                <h5 class="text-custom3">Will the UN’s prioritization of clean water, sanitation and hand washing in
                    health care facilities finally breed action?</h5>
            </div>

        </div>



        <div class="row mt-5">

            <div class="col-12">

                <div class="row">

                    <div class="col-lg-3 col-8 ">

                        <span class="span-red">Trade</span>

                    </div>

                    <div class="col-lg-4 col-4 justify-content-lg-end">

                        <img class="custom-image1" src="./../assets/img/38.jpg">

                    </div>

                    <div class="col-lg-5 col-8 custom-margin-top1">

                        <h2>Coronavirus in Iran—An Isolated Response?</h2>
                        <p class="font-weight-bold">by
                            <span class="span-hover"> Ray </span>
                            <span class="span-hover"> Takeyh</span>


                        </p>
                        <h5 class="text-custom1">As the COVID-19 crisis deepens, will Tehran wean itself off suspicions
                            and collaborate in efforts to control the virus?</h5>

                    </div>

                </div>

            </div>


        </div>


        <div class="row mt-5 mb-5 justify-content-center">

            <button class="font-weight-bold text-custom2 font-size-sm-15  button-hover">Load More</button>
        </div>
        <!-- part 5 end  -->





    </main>

    <!-- footer start  -->
    <footer class="part-6 row">

        <div class="col-12 ">

            <div class="row justify-content-center align-items-center">
                <button class="big-button">
                    <h1 class="font-size20 big cd text-light font-size-sm-15">Subscribe to our newsletter</h1>
                </button>


            </div>


        </div>

        <div class="col-12 mt-5">

            <p class="stay text-center font-size15 font-italic font-size-sm-15">Stay up to date with the latest trends
                in global health</p>
        </div>



        <div class="col-12 mt-5 ">

            <hr class="hr-big container" style="border:1px solid white">
            <div class="row justify-content-center align-items-center">
                <p class="text-light font-size-sm-10"><span class="span-hover"> AboutSite</span></p>
                <p class="text-light ml-4 font-size-sm-10"> <span class="span-hover"> Submission Guidelines</span></p>
            </div>
            <hr class="container" style="border:1px solid white">
        </div>



        <div class="col-12 mt-5 ml-sm-5 ml-md-4 ">

            <div class="row">

                <div class="col-3 ">
                    <p class="ml-lg-5 p-footer font-size10 font-size-sm-5 ">COUNCIL<span>on</span><br>
                        FOREIGN<br>
                        RELATIONS</p>
                </div>

                <div class="col-6">
                    <h1 class="big think-footer text-lg-center font-size15 font-size-sm-10  ">Think Global Health</h1>
                </div>

                <div class="col-3">
                    <i class="fab fa-twitter text-center span-hover font-size20 font-size-sm-10"></i>
                </div>
            </div>


        </div>




        <div class="col-12 ml-sm-2 ">

            <div class="row justify-content-center  date-footer font-size10 font-size-sm-5 ">
                <p class=" footer-p-date ">©2020 Council on Foreign Relations. All rights reserved. <span
                        class="font-weight-bold text-light span-hover">Privacy Policy</span> and <span
                        class=" span-hover  text-light">Terms of Use.</span></p>
            </div>
        </div>

    </footer>

    <!-- script input  -->


    <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="./../assets/js/popper.min.js"></script>
    <script src="./../assets/js//bootstrap.min.js"></script>
</body>

</html>